# Carpetas de sistema/editor
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales y binarios
env/
venv/
swnot/

# Archivos temporales y de error
*.log
init_error.log

# Ignorar solo la build de Sphinx
docs/_build/

# Archivos ocultos o del sistema
.DS_Store
Thumbs.db

# Carpetas no deseadas según imagen
Prompts/
leyes/
routes_iniciales del proyecto/
_templates iniciales del proyecto/

# Build y static folders si no son necesarias en control de versiones
_build/
_static/
