{% extends 'base.html' %}
{% import "macros/_form_macros.html" as forms %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">{{ title }}</h1>
    
    <div class="card shadow-sm mb-4">
        <div class="card-header bg-light">
            <h5 class="mb-0">Datos de la Escritura Pública</h5>
        </div>
        <div class="card-body">
            <form method="POST" action="{{ url_for('documentos_bp.agregar_escritura') }}">
                {{ form.hidden_tag() }}

                <div class="row">
                    <div class="col-md-4">
                        {{ forms.render_field(form.numero_instrumento) }}
                    </div>
                    <div class="col-md-4">
                        {{ forms.render_field(form.fecha_otorgamiento) }}
                    </div>
                    <div class="col-md-4">
                        {{ forms.render_field(form.hora_otorgamiento) }}
                    </div>
                </div>

                {{ forms.render_field(form.lugar_otorgamiento) }}
                {{ forms.render_field(form.estado_documento) }}
                {{ forms.render_field(form.observaciones_internas) }}

                <hr class="my-4">
                <h4 class="mb-3">Asignación</h4>
                <div class="row">
                    <div class="col-md-6">
                        {{ forms.render_field(form.notario_asignado_id) }}
                    </div>
                    <div class="col-md-6">
                        {{ forms.render_field(form.procurador_asignado_id) }}
                    </div>
                </div>

                <hr class="my-4">
                <h4 class="mb-3">Fechas de Firmas y Entrega</h4>
                <div class="row">
                    <div class="col-md-4">
                        {{ forms.render_field(form.fecha_firma_clientes) }}
                    </div>
                    <div class="col-md-4">
                        {{ forms.render_field(form.fecha_firma_notario) }}
                    </div>
                    <div class="col-md-4">
                        {{ forms.render_field(form.fecha_entrega_cliente) }}
                    </div>
                </div>

                <hr class="my-4">
                <h4 class="mb-3">Detalles del Contrato</h4>
                {{ forms.render_field(form.objeto_contrato) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ forms.render_field(form.valor_negocio) }}
                    </div>
                    <div class="col-md-6">
                        {{ forms.render_field(form.moneda_negocio) }}
                    </div>
                </div>
                {{ forms.render_field(form.forma_pago) }}
                {{ forms.render_field(form.plazos_condiciones) }}
                {{ forms.render_field(form.impuestos_timbre) }}
                {{ forms.render_field(form.numero_testimonio_especial) }}
                {{ forms.render_field(form.fecha_envio_testimonio_especial) }}
                {{ forms.render_field(form.registro_propiedad_inscripcion_actual) }}

                <hr class="my-4">
                <h4 class="mb-3">Control de Papel Protocolo</h4>
                <div class="row">
                    <div class="col-md-4">
                        {{ forms.render_field(form.papel_protocolo_id_inicio) }}
                    </div>
                    <div class="col-md-4">
                        {{ forms.render_field(form.numero_hoja_protocolo_inicio) }}
                    </div>
                    <div class="col-md-4">
                        {{ forms.render_field(form.anverso_reverso_inicio) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ forms.render_field(form.papel_protocolo_id_fin) }}
                    </div>
                    <div class="col-md-4">
                        {{ forms.render_field(form.numero_hoja_protocolo_fin) }}
                    </div>
                    <div class="col-md-4">
                        {{ forms.render_field(form.anverso_reverso_fin) }}
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-4">
                    {{ form.submit(class="btn btn-primary") }}
                    <a href="{{ url_for('documentos_bp.listado_escrituras') }}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
