{% extends "base.html" %}
{% import "macros/_form_macros.html" as forms %}

{% block content %}
    <h1 class="mb-4">{{ title }}</h1>
    <div class="card shadow-sm">
        <div class="card-header bg-light">
            <h5 class="mb-0">Editar Bien Inmueble</h5>
        </div>
        <div class="card-body">
            <form method="POST" action="{{ url_for('bienes_bp.editar_inmueble', bien_id=bien.id) }}">
                {{ form.csrf_token }}
                <div class="mb-3">
                    {{ forms.render_field(form.descripcion_corta) }}
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ forms.render_field(form.valor_estimado) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ forms.render_field(form.observaciones_bien) }}
                    </div>
                </div>
                <hr>
                <h6 class="mb-3">Detalles Registrales y de Ubicación</h6>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        {{ forms.render_field(form.finca) }}
                    </div>
                    <div class="col-md-3 mb-3">
                        {{ forms.render_field(form.folio) }}
                    </div>
                    <div class="col-md-3 mb-3">
                        {{ forms.render_field(form.libro) }}
                    </div>
                    <div class="col-md-3 mb-3">
                        {{ forms.render_field(form.departamento_registro) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ forms.render_field(form.extension_superficial) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ forms.render_field(form.unidad_medida_extension) }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ forms.render_field(form.ubicacion_direccion) }}
                </div>
                <div class="mb-3">
                    {{ forms.render_field(form.colindancias) }}
                </div>
                <div class="mb-3">
                    {{ forms.render_field(form.numero_registro_fiscal) }}
                </div>
                <div class="mb-3">
                    {{ forms.render_field(form.ultimo_propietario_registral) }}
                </div>
                
                <button type="submit" class="btn btn-primary mt-3">{{ form.submit.label }}</button>
                <a href="{{ url_for('bienes_bp.listado_bienes') }}" class="btn btn-secondary mt-3 ml-2">Cancelar</a> {# Cambiado ms-2 a ml-2 para Bootstrap 4 #}
            </form>
        </div>
    </div>
{% endblock content %}